pkgbase = zed-delta-bin
	pkgdesc = Delta - AI-native code editor from Zed (prebuilt binary)
	pkgver = 0.17.1
	pkgrel = 1
	url = https://delta.dev
	arch = x86_64
	arch = aarch64
	license = custom
	depends = glibc
	depends = hicolor-icon-theme
	provides = zed-delta
	conflicts = zed-delta
	conflicts = git-delta
	options = !strip
	options = !debug
	source_x86_64 = delta-0.17.1-x86_64.tar.gz::https://github.com/zed-industries/delta-nix/releases/download/v0.17.1/delta-linux-x86_64.tar.gz
	sha256sums_x86_64 = 89d14facee5a157e97f43150e4032f4f7461d949f92c9199c44960642653f3d0
	source_aarch64 = delta-0.17.1-aarch64.tar.gz::https://github.com/zed-industries/delta-nix/releases/download/v0.17.1/delta-linux-aarch64.tar.gz
	sha256sums_aarch64 = 762b63c30422b816e440738548effa3b4a7927e0ab6529dfc3a21ca93d36f9c4

pkgname = zed-delta-bin
