pkgbase = zed-delta-bin
	pkgdesc = Delta - AI-native code editor from Zed (prebuilt binary)
	pkgver = null
	pkgrel = 1
	url = https://delta.dev
	arch = x86_64
	arch = aarch64
	license = custom
	depends = glibc
	depends = hicolor-icon-theme
	provides = zed-delta
	conflicts = zed-delta
	conflicts = git-delta
	options = !strip
	options = !debug
	source_x86_64 = delta-null-x86_64.tar.gz::https://github.com/zed-industries/delta-nix/releases/download/null/delta-linux-x86_64.tar.gz
	sha256sums_x86_64 = 9ee965
	source_aarch64 = delta-null-aarch64.tar.gz::https://github.com/zed-industries/delta-nix/releases/download/null/delta-linux-aarch64.tar.gz
	sha256sums_aarch64 = 9ee965

pkgname = zed-delta-bin
